@import "../../variables";

.AboutMe {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  &Body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 32px;
    color: $font-color;

    @include mobile {
      grid-template-columns: 1fr;
    }

    & strong {
      font-weight: 600;
      color: $font-color;
    }

    & h2 {
      margin: 0;
      font-size: 24px;
      color: $font-color;
      line-height: 36px;
      font-weight: 400;
    }

    & p {

      @include web {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
      @include tablet {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }

      @include mobile {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
      }
      color: $font-color;
    }

    &Pic {
      width: 100%;
      height: auto;
      @include mobile {
        display: none;
      }



    }
  }

  &Footer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
