@import "/src/variables";

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  gap: 80px;
  line-height: 20px;

  &Title {
    font-weight: 600;
    text-decoration: none;
    color: $font-color;
  }

  &Link {
    text-decoration: none;
    color: $font-color;

    &:hover {
      color: $accent-color;
    }
  }

  &Links {
    display: flex;
    align-items: center;
    gap: 54px;

    * {
      text-decoration: none;
      color: $font-color;
    }

    &Active {
      font-weight: 600;
    }
  }
}
