@import "src/variables";

.Work {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(26, 69, 208, 0.25);
  }

  &Title {
    font-size: 20px;
    font-weight: 500;
    color: $font-color;
    line-height: 32px;
  }

  &Roles {
    font-size: 14px;
    font-weight: 400;
    color: $font-color;
    line-height: 20px;

    &Header {
      color: rgba($font-color, 0.5);
    }
  }

  &Pic {
    border-radius: 12px;
  }
}
