@import "src/variables";

.App {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include web {
    max-width: 1064px;
    min-width: 1064px;
  }

  @include tablet {
    max-width: 804px;
    min-width: 804px;
  }

  @include mobile {
    max-width: 330px;
    min-width: 330px;
  }
}
